/* Estilos base */

body {
    background:#514696;
    height: 100%;
    font-family: "", Arial, sans-serif;
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizelegibility;
}

a {
    color: #4c4c4c;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

/* Mis estilos*/

main {
    height: 100%;
    width: 1200px;
    display: flex;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#main {
    background: white;
    width: 80%;
    float: left;
}

#sidebar {
    width: 20%;
    float: right;
    background-color: #a8dedc;
}

#title, h1, h2 {
    text-transform: uppercase;
}

#title {
    position: relative;
    left: 0.55in;
    margin-bottom: 0.3in;
    line-height: 1.2;
}

#title h1 {
    font-weight: 300;
    font-size: 25pt;
    line-height: 1.5;
}

#title h1 strong {
    margin: auto 2pt auto 4pt;
    font-weight: 600;
}

.subtitle {
    font-size: 18pt;
}

.main-block {
    padding: 2rem 3rem;
}

.side-block {
    padding: 1rem;
}